<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form>
                <div>
                    <div class="form-group">
                        <label for="gridSize">Size of Grid:</label>
                        <input type="text" id="gridSize" class="form-control" placeholder="Enter number">
                    </div>
                    <div class="form-group">
                        <label for="userWord">Word for Word List:</label>
                        <input type="text" id="userWord" class="form-control" placeholder="Enter word">
                    </div>
                </div>
                <div class="row">
                    <!-- wordList -->
                </div>
                <div class="row">
                    <div class="text-center col-xs-12">
                        <button type="button" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-outline-dark">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
