<div class="row mt-3 justify-content-md-center">
  <table class="col-lg-auto" id="grid">
    <tr *ngFor="let row of masterCoordinates; let i = index">
      <td *ngFor="let col of row">{{ col | uppercase }}</td>
    </tr>
  </table>
</div>

<div class="row mt-3 text-center">
  <h5>Word List</h5>
  <ul class="list-unstyled" id="fitWordList">
    <li *ngFor="let word of insertedList">{{ word | uppercase }}</li>
  </ul>
</div>
<div class="row mt-3 text-center" *ngIf="noFitList.length != 0">
  <h5>These words did not fit in your grid:</h5>
  <ul class="list-unstyled" id="noFitWordList">
    <li *ngFor="let word of noFitList">{{ word | uppercase }}</li>
  </ul>
</div>

<div class="row">
  <div class="text-center col-xs-2 mt-5">
    <button
      type="button"
      class="btn btn-outline-primary mx-3"
      (click)="onRebuildGrid()"
    >
      Rebuild Puzzle
    </button>
    <button
      type="button"
      class="btn btn-outline-success mx-3"
      (click)="onClearGrid()"
    >
      Create New Puzzle
    </button>
  </div>
</div>
